.todo-main li {
    border: 0.5px solid #ddd;
    padding: 0 5px;
    list-style: none;
    height: 36px;
    line-height: 36px;
}

li label {
    float: left;
    cursor: pointer;
}

li label input {
    margin-right: 5px;
    vertical-align: middle;
}

li button {
    float: right;
    margin-top: 3px;
}

.todo-main li:hover {
    background-color: #ddd;
}